* text=auto
* text eol=lf
selenium/* binary
*chromedriver* binary
*geckodriver* binary
*.bin binary
*.tgz binary
*.png binary
*.ico binary
*.ttf binary
*.woff binary
*.zip binary
*.jar binary
*.gz binary