strict-ssl false
yarn-offline-mirror "./npm-packages-cache"
yarn-offline-mirror-pruning false
registry "https://artifactory.service.anz/artifactory/api/npm/ibsc-npm-virtual"
sass_binary_site "http://dcartifactory.service.dev/artifactory/csp-platform/node-sass"
"@anz:registry" "https://dcartifactory.service.dev/artifactory/api/npm/anzdesignsystem-npm/"